
<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        
        <%= @post.content%>
      </p>
      <div class="post-time">
        <!-- Display the @post's created_at -->
        <%=@post.created_at %>
      </div>

      <div class="post-menus">
        <%= link_to("Edit", "/post/#{@post.id}/edit") %>
        <%= link_to("Delete", "/post/#{@post.id}/destroy", {method: "post"})  %>
      </div>


    </div>
  </div>
</div>